<div class="container">
		
	<div class="card">
		<div class="card-header">
			<ul class="nav nav-pills  card-header-pills">
			<li class="nav-item">
				<h2 class="card-title align-middle">Relatórios</h2>
				</li>
			<li class="nav-item float-right">
				<button class="btn btn-primary" (click)="GetReports()">Buscar Reports</button>
			</li>
			</ul>
		</div>
		<div class="card-body">
			<table class="table table-responsive-lg table-bordered shadow p-3 mb-5 bg-white rounded	">
				<thead class="thead-dark">
					<tr>
						<th class="text-center align-middle">ID</th>
						<th class="text-center align-middle">Categoria</th>
						<th class="text-center align-middle">Nome</th>
						<th class="text-center align-middle">Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let report of reports">
						<td class="align-middle">{{ report.Id }}</td>
						<td class="align-middle">{{ report.CategoryId }}</td>
						<td class="align-middle">{{ report.Name }}</td>
						<td class="text-center align-middle">
							<button type="button" class="btn btn-default" (click)="ShowReport(content, report)">Exibir</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<ng-template #content let-c="close" class="modal-xl" let-d="dismiss">
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<tr-viewer #viewer1 
			[containerStyle]="viewerContainerStyle"
			[reportServer]="{
				url: baseReportUrl,
				username: login,
				password: senha
			}"
			[reportSource]="{
				report: report.Category.Name + '/' + report.Name,
            	parameters: {}
			}"
			[viewMode]="'INTERACTIVE'"
			[scaleMode]="'SPECIFIC'"
			[scale]="1.0">
		</tr-viewer>

	</div>
</ng-template>

<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->